page-contact {
    ion-content {
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#0b577b+0,341a4a+100 */
        background: #0b577b;
        /* Old browsers */
        background: -moz-linear-gradient(-45deg, #0b577b 0%, #341a4a 100%);
        /* FF3.6-15 */
        background: -webkit-linear-gradient(-45deg, #0b577b 0%, #341a4a 100%);
        /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(135deg, #0b577b 0%, #341a4a 100%);
        /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        /* IE6-9 fallback on horizontal gradient */
    }
    h3 {
        color: white;
    }
    .top-20 {
        margin-top: 20%;
    }
    .top-20 {
        margin-top: 5%;
    }
}